@font-face {
	font-family: 'font';
	src: url(‘font.ttf’) format(‘truetype’),
}

@font-face {
    font-family: "font";
    src: url("font.ttf");
  }

body {
    margin: 0;
    padding: 0;
    cursor: none;
}

.header {
    text-align: center;
    font-family: 'font', serif;
}
h1 {
    font-size: 3em;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.logos img {
    width: 150px;
    height: 150px;
    margin: 10px;
    position: relative;
}
a{
    cursor: none;
}
.logos a img {
    --transition-duration: 3s;
    transition: transform var(--transition-duration);
    transform: translate(calc(-15px + 30px * var(--random-x)), calc(-15px + 30px * var(--random-y)));
}

.logos a:hover img {
    --transition-duration: 0.8s;
    transform: translate(calc(-25px + 50px * var(--random-x)), calc(-25px + 50px * var(--random-y)));
}


#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media (max-width: 600px) {
    .logos img {
        width: 50px;
        height: 50px;
    }
}

/* Ajoutez ces lignes à votre fichier CSS existant */

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: rgb(255, 255, 255);
}
.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}
.page, .page a {
   cursor: none;
}
