/* Définition de la police */
@font-face {
    font-family: "font";
    src: url("font.ttf") format("truetype");
  }
  
  /* Styles globaux */
  body {
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: 'font', serif;
  }
  
  /* En-tête */
  .header {
    text-align: center;
  }
  h1 {
    font-size: 3em;
  }
  
  /* Section des logos */
  .logos {
    display: flex;
    flex-wrap: wrap;           /* Permet le passage à la ligne si besoin */
    justify-content: center;
    align-items: flex-end;      /* Aligne les logos en bas de leur ligne */
    padding: 20px;             /* Un peu d'espace autour */
  }
  
  .logos img {
    width: 175px;
    height: 175px;
    margin: 10px;
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.5)) 
    drop-shadow(2px 0 0 rgba(255, 255, 255, 0.5)) 
    drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.5)) 
    drop-shadow(0 2px 0 rgba(255, 255, 255, 0.5)) 
    drop-shadow(0 -2px 0 rgba(255, 255, 255, 0.5));
    transition: transform 0.4s ease;
    transform: translateY(0);
  }
  .logos a:hover img {
    transform: translateY(-15px);
  }
  
  a {
    cursor: none;
  }
  
  /* Vidéo de fond */
  #bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
/* Responsive pour petits écrans */
@media (max-width: 600px) {
    .logos img {
      width: 125px;
      height: 125px;
    }
  }
  
  /* Curseurs personnalisés */
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: rgb(255, 255, 255);
  }
  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
  
  /* Optionnel : si vous utilisez .page */
  .page, .page a {
    cursor: none;
  }
